.transactions-container {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    margin: 0 auto;
  }
  
  .filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .search-bar, .category-filter, .sort-order {
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .transaction-list {
    margin-top: 20px;
  }
  
  .transaction {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .transaction p {
    margin: 5px 0;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 10px 15px;
    border: none;
    background-color: #277c78;
    color: white;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 4px;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  