// _mixins.scss

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin button-styles($bg-color, $text-color) {
    background-color: $bg-color;
    color: $text-color;
    padding: 10px 20px;
    border-radius: $border-radius;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; // Smooth transition for color changes
  
    &:hover {
      background-color: darken($bg-color, 10%);
    }
  
    &:active {
      background-color: $button-active-bg;   // Reverse the background color on active
      color: $button-active-text;             // Reverse the text color on active
    }
  
    &:disabled {
      background-color: #ccc;
      color: #999;
      cursor: not-allowed;
    }
  }
  
  .primary-button {
    @include button-styles($primary-bg, $primary-text);
  }
  
  .secondary-button {
    @include button-styles($secondary-bg, $secondary-text);
  }
  
  .tertiary-button {
    @include button-styles($tertiary-bg, $tertiary-text);
  }
  
  .destroy-button {
    @include button-styles($destroy-bg, $destroy-text);
  }
  